{% extends 'index.html' %}
{% load bootstrap %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-left">
      <!-- User Information Card -->
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            <h5>User Information</h5>
          </div>
          <div class="card-body text-left">
            <!-- User Name -->
            <h3 class="card-title">{{ user }}</h3>
            
            <!-- User Avatar -->
            <img 
              src="https://cdn.discordapp.com/avatars/{{ user.discord_id }}/{{ user.avatar }}.png" 
              alt="User Avatar" 
              class="img-fluid rounded-circle" 
              style="width: 150px; height: 150px;">
            
            <p class="mt-3 text-muted">This is your profile!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
